.csv-download-menu {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    text-align: center;
  }
  
  .csv-download-menu h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
  }
  
  .greyButton {
    display: inline-block; 
    width: 200px; 
    margin: 10px 5px; 
    padding: 10px 15px;
    font-size: 1em;
    color: #fff; 
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .csv-download-menu button:hover {
    background-color: #1a242f;
  }
  
  .redButton {
    background-color: darkred;
    display: inline-block; 
    width: 200px; 
    margin: 10px 5px; 
    padding: 10px 15px;
    font-size: 1em;
    color: #fff; 
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }