.manual-edit-menu {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #f9f9f9; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto; 
}

.manual-edit-menu h2 {
  margin-bottom: 15px;
  font-size: 2em;
  color: #333;
}

.manual-edit-menu .manual-edit-form {
  display: flex;
  flex-direction: column;
}

.manual-edit-menu .MuiTextField-root {
  width: 100%;
}

.manual-edit-menu .save-button,
.manual-edit-menu .cancel-button {
  width: 48%; 
  flex: 1;
}

.manual-edit-menu .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  gap: 10px; 
  margin-top: 20px; 
}

.manual-edit-menu .save-button,
.manual-edit-menu .cancel-button {
  background-color: #2c3e50; 
  color: #fff; 
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.manual-edit-menu .save-button:hover,
.manual-edit-menu .cancel-button:hover {
  background-color: #1a242f; 
}

.manual-edit-menu .MuiTypography-root {
  color: #333; 
}

.manual-edit-menu .MuiInputBase-root {
  background-color: #fff; 
}

.manual-edit-menu .MuiFormLabel-root {
  color: #666; 
}
